.page {
  box-sizing: border-box;
  background-color: black;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (min-width: 628px) and (max-width: 848px) {
  .page {
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 627px) {
  .page {
    width: 282px;
  }
}
